
.filterForm {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.component-holder {
    width: 500px;
}

.filterForm label {
    display: inline-block;
    margin-right: 20px;
    text-align: right;
    clear: both;
}

.filterForm input {
    margin-left: 20px;
    text-align: left;
    clear: both;
    float: right;
}
